#footer_parent
{
    height: 50vh;
    display: grid;
}
.parent_container_footer
{
    width: 90%;
    margin: auto;
    height: 90%;
}
.container_parent_table_footer
{
    height: 87%;
    width: 100%;
}
.head-col
{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.parent-col-bar
{
    height: 100%;
    position: relative;
    display: flex;
    width: 100%;
}
.table
{
    height: 100%; 
    padding: 15px;
}
.table > ul > li
{
    list-style: none;
    text-decoration: none;
    margin: 8px 0px;
} 
.table > ul > li > a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.left-col 
{
    height: 100%;
    width: 37%;
}
.right-col
{
    width: 32%;
}
.centre-col
{
}